<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Expedia">
<listeners>
<listener class-name="com.expedia.testUtilis.Reporting"/>
</listeners>
  <test name="ExpediaWeb_Test">

    	<classes>
      		<!-- class name="com.expedia.testCases.TC_LoginTest_001"/-->
      		<class name="com.expedia.testCases.TC_SearchFlightTest_002"/>
      		<class name="com.expedia.testCases.TC_SearchCarsTest_003"/>
      		<class name="com.expedia.testCases.TC_ChooseFlightTest_004"/>
      		<!-- class name="com.expedia.testCases.TC_DDT_LoginTest_005"/-->
      	     
    	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
